<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bbsMapper">
	<resultMap id="bbsMap" type="com.bbs.test.Vo.BbsVO">
		<result property="bbs_id" column="bbs_id"/>
		<result property="bbs_title" column="bbs_title"/>
		<result property="bbs_content" column="bbs_content"/>
		<result property="bbs_date" column="bbs_date"/>
		<result property="bbs_useyn" column="bbs_useyn"/>
		<result property="member_nid" column="member_nid"/>
		<result property="member_id" column="member_id"/>
	</resultMap>
	
	<select id="selectBbsList" resultMap="bbsMap">
		select a.*, b.member_id from bbs_test a, member b 
		where a.member_nid = b.member_nid 
		and a.bbs_useyn = 'Y' order by a.bbs_id desc
	</select>
	
	<select id="selectBbsOne" resultMap="bbsMap" >
		select * from bbs_test where bbs_id = #{bbs_id} and bbs_useyn = 'Y'
	</select>
	
	<update id="modifyBbs">
		update bbs_test set 
			bbs_title = #{bbs_title},
			bbs_content = #{bbs_content}
		where bbs_id = #{bbs_id} limit 1		
	</update>
	
	<insert id="insertBbs">
		insert into bbs_test 
			(bbs_title,bbs_content,bbs_date,member_nid) 
		values 
			(#{bbs_title},#{bbs_content},now(),#{member_nid})
	</insert>

	<update id="deleteBbs">
		update bbs_test set
			bbs_useyn = 'N'
		where bbs_id = #{bbs_id} limit 1
	</update>
	
</mapper>