<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org// DTD Config 3.0// EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.bbs.test.Vo.BbsVO" alias="BbsVO"></typeAlias>
		<typeAlias type="com.bbs.test.Vo.MemberVO" alias="MemberVO"></typeAlias>
	</typeAliases>

			
	<mappers>
		<mapper resource="mappers/bbsMapper.xml"></mapper>
		<mapper resource="mappers/memberMapper.xml"></mapper>
	</mappers>

</configuration>